---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v2/rewarded
    body:
      encoding: UTF-8
      string: '{"apiToken":"D7x8ltIkFpnp_yoeEsXXpNUWi9E"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n\t<html>\n\t  <head>\n\t\t<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1\">\n\t\t<meta charset=\"utf-8\">\n\t\t<title>Application
        Error</title>\n\t\t<style media=\"screen\">\n\t\t  html,body,iframe {\n\t\t\tmargin:
        0;\n\t\t\tpadding: 0;\n\t\t  }\n\t\t  html,body {\n\t\t\theight: 100%;\n\t\t\toverflow:
        hidden;\n\t\t  }\n\t\t  iframe {\n\t\t\twidth: 100%;\n\t\t\theight: 100%;\n\t\t\tborder:
        0;\n\t\t  }\n\t\t</style>\n\t  </head>\n\t  <body>\n\t\t<iframe src=\"//www.herokucdn.com/error-pages/application-error.html\"></iframe>\n\t
        \ </body>\n\t</html>"
  recorded_at: Fri, 15 Jun 2018 14:39:15 GMT
recorded_with: VCR 4.0.0
