---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token&filter%5Blimit%5D=2&filter%5Bskip%5D=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e6-c6deTIi6nAuRpTwxmvSsuo6EfMM"
    body:
      encoding: UTF-8
      string: '{"pending":[{"user":{"firstname":"Damien","lastname":"Imberdis","email":"dimberdis@liveqos.com","referralCode":"H1uHrwhl7","referralCountTotal":2,"risk":60},"rewards":[{"id":"reward_MTQ2MzNjYWIzNDk3ZTM1NTg1Yjc","metadata":{"reward":{"user":{"firstname":"Damien","lastname":"Imberdis","email":"dimberdis@liveqos.com","referralCode":"H1uHrwhl7","referralCountTotal":2,"risk":60},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}},{"id":"reward_ZWE4NDllZGRiZDM4MjdlMDgyMGM","metadata":{"reward":{"user":{"firstname":"Damien","lastname":"Imberdis","email":"dimberdis@liveqos.com","referralCode":"H1uHrwhl7","referralCountTotal":2,"risk":60},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}}]}],"totalPending":8}'
  recorded_at: Fri, 15 Jun 2018 18:15:58 GMT
recorded_with: VCR 4.0.0
