---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/participant_data?apiToken=token&params%5Bparticipants%5D%5B0%5D%5Bemail%5D=fake@email.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"275-XEIMkEbqc9asp9Vdx+uOkEJQnr0"
    body:
      encoding: UTF-8
      string: '{"data":[{"user":{"email":"fake@email.com","firstname":"James","lastname":"Rodriguez","referralCode":"code1","createdAt":"2018-06-13
        20:28:14","uniqueLink":"http://app/sign_up?referralCode=code1"},"referrer":{"email":"fake2@email.com","firstname":"Thomas","lastname":"Lemar","referralCode":"code2","createdAt":"2018-06-13
        02:52:26","uniqueLink":"http://app/sign_up?referralCode=code2"},"counters":{"referrals":{"total":1,"facebook":0,"twitter":0,"reddit":0,"email":0,"copy":1},"shares":{"total":4,"facebook":1,"twitter":2,"reddit":2,"email":1}}}]}'
  recorded_at: Fri, 22 Jun 2018 18:02:59 GMT
recorded_with: VCR 4.0.0
