---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/participant_data?apiToken=token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7da-kjpysil3aTT1DRi2xcmPtG8C1Ss"
    body:
      encoding: UTF-8
      string: '{"data":[{"user":{"email":"fake1@email.com","firstname":"Damien","lastname":"Imberdis","referralCode":"code1","createdAt":"2018-06-11
        21:10:24","uniqueLink":"https://app.rush-staging/users/edit?referralCode=code1"},"referrer":{},"counters":{"referrals":{"total":2,"facebook":0,"twitter":0,"reddit":0,"email":1,"copy":0},"shares":{"total":0,"facebook":0,"twitter":0,"reddit":0,"email":0}}},{"user":{"email":"fake2@email.com","firstname":"Jon","lastname":"Baldock","referralCode":"code2","createdAt":"2018-06-12
        15:11:06","uniqueLink":"https://app/sign_up?referralCode=code1"},"referrer":{},"counters":{"referrals":{"total":0,"facebook":0,"twitter":0,"reddit":0,"email":0,"copy":0},"shares":{"total":0,"facebook":0,"twitter":0,"reddit":0,"email":0}}},{"user":{"email":"fake2@email.com","firstname":"Conchita","lastname":"Ma[...]
