---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/participant_data?apiToken=token&params%5Bparticipants%5D%5B0%5D%5BreferralCode%5D=code1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"267-3srym2acnR+gVInqOClaMU1BsQk"
    body:
      encoding: UTF-8
      string: '{"data":[{"user":{"email":"fake@email.com","firstname":"David","lastname":"Luiz","referralCode":"code1","createdAt":"2018-06-12
        16:06:01","uniqueLink":"http://app/sign_up?referralCode=code1"},"referrer":{"email":"fake2@email.com","firstname":"Damien","lastname":"Imberdis","referralCode":"code2","createdAt":"2018-06-11
        21:10:24","uniqueLink":"http://app/sign_up?referralCode=code2"},"counters":{"referrals":{"total":0,"facebook":0,"twitter":0,"reddit":0,"email":0,"copy":0},"shares":{"total":0,"facebook":0,"twitter":0,"reddit":0,"email":0}}}]}'
  recorded_at: Sun, 24 Jun 2018 03:00:53 GMT
recorded_with: VCR 4.0.0
