---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token&filter%5Blimit%5D=2&filter%5Bskip%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"378-bRlPICB2IAFIUl7IMtG3t4SPnj4"
    body:
      encoding: UTF-8
      string: '{"pending":[{"user":{"firstname":"Conchita","lastname":"Martinez","email":"dimberdis+conchita@liveqos.com","referralCode":"rki7wDTxX","referralCountTotal":0,"risk":0},"rewards":[{"id":"reward_NTRlZjVjZWU0NmViNzcyNjU5MGU","metadata":{"reward":{"type":"manual","user":{"firstname":"Conchita","lastname":"Martinez","email":"dimberdis+conchita@liveqos.com","referralCode":"rki7wDTxX","referralCountTotal":0,"risk":0},"details":{"rewardType":"manual"}}}}]},{"user":{"firstname":"David","lastname":"Luiz","email":"dimberdis+luiz@liveqos.com","referralCode":"SkZd1O6g7","referralCountTotal":0,"risk":0},"rewards":[{"id":"reward_NDk0ZmRiZTg0MGRmNTQxN2IwNmU","metadata":{"reward":{"type":"manual","user":{"firstname":"David","lastname":"Luiz","email":"dimberdis+luiz@liveqos.com","referralCode":"SkZd1O6g7","referralCountTotal":0,"risk":0},"details":{"rewardType":"manual"}}}}]}],"totalPending":8}'
  recorded_at: Fri, 15 Jun 2018 18:26:43 GMT
recorded_with: VCR 4.0.0
