---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"14e6-Db6YGwwGEqPOfNIq+2q3Ew3DX1Y"
    body:
      encoding: UTF-8
      string: '{"pending":[{"user":{"firstname":"Damien","lastname":"Imberdis","email":"fake1@liveqos.com","referralCode":"code1","referralCountTotal":2,"risk":60},"rewards":[{"id":"reward_MTQ2MzNjYWIzNDk3ZTM1NTg1Yjc","metadata":{"reward":{"user":{"firstname":"Damien","lastname":"Imberdis","email":"fake1@email.com","referralCode":"code1","referralCountTotal":2,"risk":60},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}},{"id":"reward_ZWE4NDllZGRiZDM4MjdlMDgyMGM","metadata":{"reward":{"user":{"firstname":"Damien","lastname":"Imberdis","email":"fake1@email.com","referralCode":"H1uHrwhl7","referralCountTotal":2,"risk":60},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}}]},{"user":{"firstname":"Conchita","lastname":"Martinez","email":"fake2@email.com","referralCode":"code3","referralCountTotal":0,"risk":0},"rewards":[{"id":"reward_NTRlZjVjZWU0NmViNzcyNjU5MGU","metadata":{"reward":{"type":"manual","user":{"firstname":"Conchita","lastname":"Martinez","email":"fake2@email.com","referralCode":"code1","referralCountTotal":0,"risk":0},"details":{"rewardType":"manual"}}}}]},{"user":{"firstname":"David","lastname":"Luiz","email":"fake2@email.com","referralCode":"code2","referralCountTotal":0,"risk":0},"rewards":[{"id":"reward_NDk0ZmRiZTg0MGRmNTQxN2IwNmU","metadata":{"reward":{"type":"manual","user":{"firstname":"David","lastname":"Luiz","email":"fake3@email.com","referralCode":"code3","[...]
