---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v2/rewarded
    body:
      encoding: UTF-8
      string: '{"apiToken":"token","user":{"email":"dimberdis+acceptref4@liveqos.com"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6e-IqZTDyrO/O6pkLYKTX1wSwswfxI"
    body:
      encoding: UTF-8
      string: '{"redeemed":{"total":2,"rewards":["reward_Njg2ZTBmOGI2NGVlN2U0YTQyODg","reward_MTRkOWU4ZTI0NWY4NDQ2NjQ0NjQ"]}}'
  recorded_at: Fri, 15 Jun 2018 15:00:56 GMT
recorded_with: VCR 4.0.0
