---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v2/rewarded
    body:
      encoding: UTF-8
      string: '{"apiToken":"token","user":{"referralCode":"code"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"93-O9tRqmz1eltxyNpjUk2zHj+vEFU"
    body:
      encoding: UTF-8
      string: '{"redeemed":{"total":3,"rewards":["reward_ZWI5ZTYwMWM2NGU3YTdkZDA2NjE","reward_Y2MwMGVmZWVmZDRhZTFiODRkMjQ","reward_NDhmNDlkYjg3YjlmZTY3NWEyMWI"]}}'
  recorded_at: Fri, 15 Jun 2018 14:50:01 GMT
recorded_with: VCR 4.0.0
