---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v2/rewarded
    body:
      encoding: UTF-8
      string: '{"apiToken":"token","rewardId":"reward_YjgwYjI1NTYxMjE5NmJhYzEwODc"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-mpXXaEqBhk3GJ9Mko0zNWa8VPXk"
    body:
      encoding: UTF-8
      string: '{"redeemed":{"total":1,"rewards":["reward_YjgwYjI1NTYxMjE5NmJhYzEwODc"]}}'
  recorded_at: Fri, 15 Jun 2018 14:01:29 GMT
recorded_with: VCR 4.0.0
