---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v2/events
    body:
      encoding: UTF-8
      string: '{"apiToken":"token","params":{"event":"registration","user":{"firstname":"David","lastname":"Luiz","email":"fake1@email.com"},"referrer":{"referralCode":"code1"},"refSource":"email"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29-b1ZaR+cChTVBJaAgsgz97P4QeZA"
    body:
      encoding: UTF-8
      string: '{"referralCode":"SkZd1O6g7","isNew":true}'
  recorded_at: Tue, 12 Jun 2018 16:06:01 GMT
recorded_with: VCR 4.0.0
