---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v2/events
    body:
      encoding: UTF-8
      string: '{"apiToken":"token","params":{"event":"registration","user":{"firstname":"Damien","lastname":"Imberdis","email":"dimberdis@liveqos.com"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2a-ToQNeRZRM/N6C0jtjPXR9H7E868"
    body:
      encoding: UTF-8
      string: '{"referralCode":"H1uHrwhl7","isNew": true}'
  recorded_at: Tue, 12 Jun 2018 14:51:36 GMT
recorded_with: VCR 4.0.0
