---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v2/events
    body:
      encoding: UTF-8
      string: '{"apiToken":"token","params":{"event":"registration","user":{"firstname":"Conchita","lastname":"Martinez","email":"dimberdis+conchita@liveqos.com"},"referrer":{"referralCode":"H1uHrwhl7"}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29-A0eQVZGTvdo5OLeWxrlOCPq7Yng"
    body:
      encoding: UTF-8
      string: '{"referralCode":"rki7wDTxX","isNew":true}'
  recorded_at: Tue, 12 Jun 2018 15:30:43 GMT
recorded_with: VCR 4.0.0
