---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token&filter%5Blimit%5D=2&filter%5Bskip%5D=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e6-c6deTIi6nAuRpTwxmvSsuo6EfMM"
    body:
      encoding: UTF-8
      string: '{"pending":[{"user":{"firstname":"Damien","lastname":"Imberdis","email":"dimberdis@liveqos.com","referralCode":"H1uHrwhl7","referralCountTotal":2,"risk":60},"rewards":[{"id":"reward_MTQ2MzNjYWIzNDk3ZTM1NTg1Yjc","metadata":{"reward":{"user":{"firstname":"Damien","lastname":"Imberdis","email":"dimberdis@liveqos.com","referralCode":"H1uHrwhl7","referralCountTotal":2,"risk":60},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}},{"id":"reward_ZWE4NDllZGRiZDM4MjdlMDgyMGM","metadata":{"reward":{"user":{"firstname":"Damien","lastname":"Imberdis","email":"dimberdis@liveqos.com","referralCode":"H1uHrwhl7","referralCountTotal":2,"risk":60},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}}]}],"totalPending":8}'
  recorded_at: Mon, 18 Jun 2018 19:17:39 GMT
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token&filter%5Blimit%5D=2&filter%5Bskip%5D=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"378-bRlPICB2IAFIUl7IMtG3t4SPnj4"
    body:
      encoding: UTF-8
      string: '{"pending":[{"user":{"firstname":"Conchita","lastname":"Martinez","email":"dimberdis+conchita@liveqos.com","referralCode":"rki7wDTxX","referralCountTotal":0,"risk":0},"rewards":[{"id":"reward_NTRlZjVjZWU0NmViNzcyNjU5MGU","metadata":{"reward":{"type":"manual","user":{"firstname":"Conchita","lastname":"Martinez","email":"dimberdis+conchita@liveqos.com","referralCode":"rki7wDTxX","referralCountTotal":0,"risk":0},"details":{"rewardType":"manual"}}}}]},{"user":{"firstname":"David","lastname":"Luiz","email":"dimberdis+luiz@liveqos.com","referralCode":"SkZd1O6g7","referralCountTotal":0,"risk":0},"rewards":[{"id":"reward_NDk0ZmRiZTg0MGRmNTQxN2IwNmU","metadata":{"reward":{"type":"manual","user":{"firstname":"David","lastname":"Luiz","email":"dimberdis+luiz@liveqos.com","referralCode":"SkZd1O6g7","referralCountTotal":0,"risk":0},"details":{"rewardType":"manual"}}}}]}],"totalPending":8}'
  recorded_at: Mon, 18 Jun 2018 19:17:39 GMT
[...]
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token&filter%5Blimit%5D=2&filter%5Bskip%5D=8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1f-//jzxpvEb//GhI7/X/rn0tWwvV8"
    body:
      encoding: UTF-8
      string: '{"pending":[],"totalPending":8}'
  recorded_at: Mon, 18 Jun 2018 19:17:42 GMT
recorded_with: VCR 4.0.0
