---
http_interactions:
- request:
    method: post
    uri: https://app.viral-loops.com/api/v1/social_action
    body:
      encoding: UTF-8
      string: '{"apiToken":"token","referralCode":"code1","postType":"facebook"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f-VaSQ4oDUiZblZNAEkkN+sX+q3Sg"
    body:
      encoding: UTF-8
      string: '{"status":"ok"}'
  recorded_at: Wed, 04 Jul 2018 17:14:49 GMT
recorded_with: VCR 4.0.0
