---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token&user%5BreferralCode%5D=rkvwClJbX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2f5-ypwfGtXEyVpGyxIKX1Z0cukb4+o"
    body:
      encoding: UTF-8
      string: '{"pending":[{"user":{"firstname":"James","lastname":"Rodriguez","email":"dimberdis+acceptref4@liveqos.com","referralCode":"rkvwClJbX","referralCountTotal":1,"risk":0},"rewards":[{"id":"reward_Njg2ZTBmOGI2NGVlN2U0YTQyODg","metadata":{"reward":{"type":"manual","user":{"firstname":"James","lastname":"Rodriguez","email":"dimberdis+acceptref4@liveqos.com","referralCode":"rkvwClJbX","referralCountTotal":1,"risk":0},"details":{"rewardType":"manual"}}}},{"id":"reward_MTRkOWU4ZTI0NWY4NDQ2NjQ0NjQ","metadata":{"reward":{"user":{"firstname":"James","lastname":"Rodriguez","email":"dimberdis+acceptref4@liveqos.com","referralCode":"rkvwClJbX","referralCountTotal":1,"risk":0},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}}]}],"totalPending":2}'
  recorded_at: Thu, 14 Jun 2018 19:56:06 GMT
recorded_with: VCR 4.0.0
