---
http_interactions:
- request:
    method: get
    uri: https://app.viral-loops.com/api/v2/pending_rewards?apiToken=token&user%5Bemail%5D=dimberdis%2Blemar@liveqos.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"524-JhIPywLfh2omPjB79u/kZPZ8fSA"
    body:
      encoding: UTF-8
      string: '{"pending":[{"user":{"firstname":"Thomas","lastname":"Lemar","email":"dimberdis+lemar@liveqos.com","referralCode":"SkfeD_Axm","referralCountTotal":4,"risk":180},"rewards":[{"id":"reward_YjgwYjI1NTYxMjE5NmJhYzEwODc","metadata":{"reward":{"user":{"firstname":"Thomas","lastname":"Lemar","email":"dimberdis+lemar@liveqos.com","referralCode":"SkfeD_Axm","referralCountTotal":4,"risk":180},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}},{"id":"reward_ZWI5ZTYwMWM2NGU3YTdkZDA2NjE","metadata":{"reward":{"user":{"firstname":"Thomas","lastname":"Lemar","email":"dimberdis+lemar@liveqos.com","referralCode":"SkfeD_Axm","referralCountTotal":4,"risk":180},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}},{"id":"reward_Y2MwMGVmZWVmZDRhZTFiODRkMjQ","metadata":{"reward":{"user":{"firstname":"Thomas","lastname":"Lemar","email":"dimberdis+lemar@liveqos.com","referralCode":"SkfeD_Axm","referralCountTotal":4,"risk":180},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}},{"id":"reward_NDhmNDlkYjg3YjlmZTY3NWEyMWI","metadata":{"reward":{"user":{"firstname":"Thomas","lastname":"Lemar","email":"dimberdis+lemar@liveqos.com","referralCode":"SkfeD_Axm","referralCountTotal":4,"risk":180},"details":{"rewardName":"50
        GB free data","rewardType":"manual"}}}}]}],"totalPending":4}'
  recorded_at: Thu, 14 Jun 2018 19:46:18 GMT
recorded_with: VCR 4.0.0
